*{
    margin: 0;
    padding: 0;
}

body{

}

.container{
    max-width: 80vw;
}

.navbar{
    height: 50px;
}

.navbar li{
    list-style: none;
    padding: 0px 10px;
}

.topleft{
    width: 50%;
}

.topright{
    width: 50%;
}

.section1{
    height: 50vh;
}

.cover-img{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.headingimg{
    width: 8em;
    height: 8em;
    align-self: center;
}

hr{
    margin: 0.5em 0px;
}

.section2 h1{
    font-size: 1.7rem;
    margin: 8px;
}

.box{
    margin: 10px;
    border: 1px solid rgb(21, 20, 20);
    border-radius: 5px;
    padding: 10px;
    width: 25%;
}

.box ul{
    list-style: none;
}

.price-description{
    width: 80%;
    margin: auto;
}

.explore, .contactus{
    width: 50%;
}

.explore ul li, .contactus ul li{
    padding: 10px 0px;
}

.fot-section{
    background: khaki;
    padding: 10px;
    border-radius: 20px;
}
  
.section2{
    background: #94ff0080;
    border-radius: 20px;
    padding: 10px;
}

@media screen and (max-width: 1200px) {
     .section1-div{
        flex-direction: column;
        width: -webkit-fill-available;
        align-items: center;
    } 
    .topleft{
        width: 100%;
    }
    .topright{
        width: 75%;
    }
}

@media screen and (max-width: 950px){
    .boxes{
        flex-direction: column;
        align-items: center;
    }
    .box{
        width: 50%;
    }
}