*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 80vw;
}

.navbar{
    height: 50px;
}

.navbar li{
    list-style: none;
    padding: 0px 10px;
}

.topleft{
    width: 50%;
}

.topright{
    width: 50%;
}

.section1{
    height: 50vh;
}

.cover-img{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.headingimg{
    width: 8em;
    height: 8em;
    align-self: center;
}

hr{
    margin: 0.8em 0px;
}

@media screen and (max-width: 1200px) {
     .section1-div{
        flex-direction: column;
        width: -webkit-fill-available;
        align-items: center;
    } 
}