*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 80vw;
}

.navbar{
    height: 50px;
}

.navbar li{
    list-style: none;
    padding: 0px 10px;
}

.topleft{
    width: 50%;
}

.topright{
    width: 50%;
}

.section1{
    height: 50vh;
}